
#logo{
    display: block;
    background: #60777f;
    background-size: cover;
    width: 100%;
    height:max-content;
    margin: auto;
}
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
nav {
    display: flex;
    align-items: center;
    background: rgb(187,187,187);
    background: radial-gradient(circle, rgba(187,187,187,1) 12%, rgba(121,145,153,1) 41%, rgba(96,119,127,1) 70%, rgba(0,0,0,1) 100%);
    text-align: center 2px;
    border: black solid 2px;
}
nav li {
    float: center;
    display: inline;
    position: relative;
    margin: auto;
}
.links {
    margin: auto;
}
nav a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: xx-large;
}
nav li a:hover {
    color: black;
    background: #F2F2F2;
}
.current {
    color: black;
    background: #F2F2F2;
    border: black solid 3px;
    font-style: italic;
 }
button{
    background-color: #799199;
    color: black;
}
img{
    display: grid;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    grid-template-columns: 40px;
    margin-right: auto;
    margin-left: auto;
}
figure {
    max-width: 300px;
    max-height: 350px;
    border: thin #60777F solid;
    padding: 5px;
    margin: auto;
    align-items: center;
}
figure img {
    max-width: 300px;
    max-height: 300px;
}
figcaption {
    background-color: #60777F;
    color: #fff;
    font: italic smaller sans-serif;
    font-size: medium;
    padding: 3px;
    text-align: center;
}
footer {
    width: 100%;
    background-color: #60777F;
    color: white;
    text-align: left;
}
.home{
    background-color:#799199;
    width: 500px;
    border: #60777f solid 5px ;
}
.flip-box:nth-child(even){
    background-color: #60777F;
    width: 300px;
    height: 200px;
    border: 6px solid #f1f1f1;
    display: inline-block;
}
.flip-box:nth-child(odd){
    background-color: white;
    width: 300px;
    height: 200px;
    border: 6px solid #60777F;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: auto;
    padding: 15px;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-box-front{
    background: rgb(84,106,139);
    background: radial-gradient(circle, rgba(84,106,139,1) 12%, rgba(121,145,153,1) 41%, rgba(96,119,127,1) 70%, rgba(99,113,112,1) 100%);
    color: black;
    border:5px white dashed;
    font-family: 'Playfair Display', serif;
    font-style: italic;

}
.flip-box-back {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
    font-family: 'Chivo', sans-serif;
}
.do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.card{
    width: 450px;
    align-items: stretch;
    border: #799199 solid 3px;
    padding: 10px;
}
.card > header{
    background: #60777F;
    border: #45ADAD solid 2px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}
.card img{
    align-items: stretch;
    width: 250px;
    height: 300px;
}
.eat{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 20px;
}


@media all and (min-width: 600px) {
    #logo{
        display: block;
        background-color: #60777f;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    nav {
        background: rgb(187,187,187);
        background: linear-gradient(90deg, rgba(187,187,187,1) 12%, rgba(121,145,153,1) 41%, rgba(96,119,127,1) 70%, rgba(0,0,0,1) 100%);
        border: black solid 2px;
    }
    nav a {
        display: inline;
        padding: 0 14px;
        color: #FFFFFF;
        font-size: xx-large;
    }
    .container{
        display: grid;
        position: relative;
        grid-template-columns: auto auto;
        grid-gap: 40px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 75px;
        align-items: stretch;
    }
    figure {
        border: 5px #60777F solid;
        border-radius: 25% 10%;
        padding: 15px;
        margin: auto;
    }
    
    figure img {
        border-radius: 25% 10%;
        max-width: 300px;
        max-height: 300px;
        align-items: stretch;
    }
    
    figcaption {
        background-color: #60777F;
        border-radius: 25% 10%;
        color: #fff;
        font: italic smaller sans-serif;
        font-size: medium;
        padding: 5px;
        text-align: center;
    }
    .home{
        background-color:#799199;
        border-radius: 25% 10%;
        padding: 5px;
        width: 500px;
        border: #60777f solid 5px ;
    }
    .do{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .card{
        width: 450px;
        align-items: stretch;
    }
    .card > header{
        background: #60777F;
        border: #45ADAD solid 2px;
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        width: 100%;
    }
    .card img{
        align-items: stretch;
        width: 250px;
        height: 300px;
    }
    
}
@media all and (min-width: 800px){
    .container{
        display: grid;
        position: relative;
        grid-template-columns: auto auto auto;
        grid-gap: 40px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 75px;
        align-items: stretch;
    }
    nav li {
        float: left;
        display: inline;
        position: relative;
        background: #60777F;
    
    }
    #logo{
        display: block;
        background-color: #60777f;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    nav {
        background: #60777F;
        color: white;
        height: 50px;
        padding-left: 0px;
        border-radius: 0px;
        border: 2px solid #60777F;
    }
    nav ul, nav li {
        background: #60777F;
        margin: auto;
        list-style: none;    
    }
    nav ul {
        width: 100%;
        margin: auto;
    }
    nav li {
        float: center;
        display: inline;
        position: relative;
        background: #60777F;
    
    }
    nav a {
        display: block;
        padding: 0 14px;
        color: #FFFFFF;
        font-size: xx-large;
    }
    nav li a:hover {
        color: black;
        background: #F2F2F2;
    }
    h1{
        color:#60777F;
    }
    img{
        display: grid;
        width: 300px;
        grid-template-columns: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    footer {
        width: 100%;
        background-color: #60777F;
        color: white;
        text-align: center;
    }
    .skip{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute ;
        top: -40px;
    }                                            
    .do{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }
    .card{
        /* width: fit-content; */
        align-items: stretch;
    }
    .card > header{
        background: #60777F;
        border: #45ADAD solid 2px;
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        width: 450px;
        height: 300px;
    }
    .card img{
        align-items: stretch;
        width: 250px;
        height: 300px;
    }
    
    .container{
        display: grid;
        grid-gap: 40px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 75px;
        align-items: stretch;
        justify-content: center;
    } 
    figure {
        border: thin #60777F solid;
        padding: 5px;
        margin: auto;
    }
    
    figure img {
        max-width: 300px;
        max-height: 300px;
        align-items: stretch;
    }
    
    figcaption {
        background-color: #60777F;
        color: #fff;
        font: italic smaller sans-serif;
        font-size: medium;
        padding: 3px;
        text-align: center;
    }
    .item {
        text-align: center;
    }
    .item:nth-child(even){
        background-color:#60777F;
        color: white;
    }

}

